# Python bytecode files
__pycache__/
*.pyc

# Environment variables
.env

# VSCode settings
.vscode/

# Python virtual environments
venv/

# Test results
*.pytest_cache/

# Other
.DS_Store
*.log
*.bak